
.main {
   width: 100vw;
    max-width: none;
    margin-top: 0;
    background-image: url("./src/imagens/campo de futebol.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
    min-height: 100vh;
}
.title {
    text-align: center;
    margin: 24px 0;
    color: rgb(7, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
}

.brasil-button {
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.95rem;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background: linear-gradient(135deg, #009c3b, #002776);
  transition: all 0.2s ease;
  margin: 10px;
}

.brasil-button:hover {
  background: linear-gradient(135deg, #00b140, #0039a6);
}
.brasil-button:active {
  transform: scale(0.96);
}

/* container geral do swiper */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/* swiper */
.swiper_container {
  width: 100%;
  max-width: 330px;
}

/* slide */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* imagem */
.swiper-slide img {
  width: 340px;
  height: 220px;
  object-fit: cover;

  border-radius: 12px;
  border: 3px solid #ffffff;

  transition: transform 0.3s;
}

/* destaque no slide ativo */
.swiper-slide-active img {
  transform: scale(1.1);
  border: 3px solid #84cc16; /* lime-400 */
}

